.ios,.md{
.home {
ion-card {
		margin-top: 50px;
		overflow: visible;
		 ion-card-content{
		 background-color:map-get($colors,primary);
		 text-align: center;
		 }
	}
}

.dark{
	text-align: center;
	width: 300;
}

}
