.ios,.md{
.home {
background-image:url('../assets/img/back.jpg');
background-position:center;
background-repeat:no repeat;
ion-card {
		margin-top: 50px;
		overflow: visible;
		 ion-card-content{
		 background-color:map-get($colors,primary);
		 text-align: center;
		 }
	}
}



}
